__pycache__
.pytest_cache
*html
*pdf

.ipynb_checkpoints/
.virtual_documents/
anaconda_projects/


# distribution
granad.egg-info/
dist
build

# docs
docs/_build/
docs/generated
my_test

tutorials/.ipynb_checkpoints
