site_name: "GRANAD"

theme:
  name: "readthedocs"
  logo: img/logo.png
  features:
    - content.code.copy
  custom_dir: docs/overrides  # <- This enables custom templates


plugins:
- search
- mkdocstrings

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
      
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

  # Add version information dynamically
extra:
  version: !!python/object/apply:os.getenv ["DOCS_VERSION"]
  commit: !!python/object/apply:os.getenv ["GITHUB_SHA"]
